@font-face {
  font-family: "SourceHanSansJP-VF";
  src: url("/font/SourceHanSansJP-VF.otf.woff2");
}

// COMMON SETTING
:root {
  font-size: clamp(14px, 2.5vw, 18px);
}
body {
  font-size: 1rem;
  font-feature-settings: "pkna", "palt";
  font-family: 'SourceHanSansJP-VF', Roboto, 'Osaka', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'Yu Gothic', 'メイリオ', sans-serif;
  

  p, ul, ol {
    line-height: 2.1;
  }
}

a:hover {
  opacity: .8;
}

::selection {
  background-color: $accentColor;
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: $borderColor;
}
::-webkit-scrollbar-thumb {
  background-color: $accentColor;
}
// COMMON SETTING END

// Theme style
header.navbar {
  background-color: $accentColor;
  color: $borderColor;
  border: none;
  opacity: .9;

  .site-name {
    color: $borderColor;
  }
  .links {
    background-color: transparent;

    [aria-current="page"]{
      font-weight: 900;
    }
    .icon.outbound {
      color: #fff;
    }
  }
}
.theme-container {
  main.home,
  .theme-default-content {
    background-color: #fff;
  }
}
.theme-default-content:not(.custom) a:hover {
  text-decoration: none;
  opacity: .8;
}