$accentColor = #049dbf
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #049dbf
$badgeWarningColor = darken(#049dbf, 35%)
$badgeErrorColor = #DA5961